
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'search';

.main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.logo {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.content {
  flex: 1;
}
