
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'search';

.main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.logo {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.content {
  flex: 1;
}

.place-card {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.place-container {
  position: relative;
  border: 0px;
  width: $place-width;
  height: $place-height;
  background-color: #000000;
  background-size: cover;
}

.place-image {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.place-text {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 10;
  color: #ffffff;
  padding: 13px 17px 12px 17px;
}

.place-mid {
  display: flex;
}

.place-left {
    flex: 1 65%;
}

.place-right {
  flex: 1 35%;
}

.place-name, .place-time {
  font-family: $card-font-family;
  font-size: $card-title-font-size;
  font-weight: $card-title-font-weight;
}

.place-name {
  margin-bottom: 15px;
}

.place-time {
  text-align: center;
  margin-bottom: 13px;
}

.place-info {
  font-size: 13px;
}

.place-addr {
  text-justify: left;
  line-height: 18px;
}

.place-mid {
  display: flex;
  justify-content: space-between;
}

.place-popularity {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
}

.place-popularity-low {
  background-image: url('../images/low.png');
  color: rgb(97, 255, 108);
} 

.place-popularity-text {
  font-size: 18px;
  flex-wrap: wrap;
  line-height: 18px;
  font-weight: normal;
  padding-top: 55px;
}

.place-bottom {
  padding-top: 10px;
}

.place-details {
  border: 1px solid #ffffff;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  height: 26px;
}