
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'search';

.main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.logo {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.content {
  flex: 1;
}

.place-card {
  padding: 0px;
  margin: 0px;
  border: 0px;
  margin-bottom: 10px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);
}

.place-container {
  position: relative;
  border: 0px;
  height: $place-height;
  background-color: #000000;
  background-size: cover;
}

.place-image {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.place-text {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 10;
  color: #ffffff;
  padding: 13px 17px 12px 17px;
  background-image: linear-gradient(to left, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0) 75%);
}

.place-left {
    flex: 1 65%;
}

.place-right {
  flex: 1 35%;
}

.place-name, .place-time {
  font-family: $card-font-family;
  font-size: $card-title-font-size;
  font-weight: $card-title-font-weight;
}

.place-name {
  margin-bottom: 15px;
}

.place-time {
  text-align: center;
  margin-bottom: 13px;
}

.place-info {
  font-size: 13px;
}

.place-addr {
  text-justify: left;
  line-height: 18px;
}

.place-mid {
  display: flex;
  justify-content: space-between;
  height: 134px;
}

.place-popularity {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
}

.place-popularity-low {
  background-image: url('../images/low.png');
  color: $green;
}

.place-popularity-mid {
  background-image: url('../images/mid.png');
  color: $yellow;
}

.place-popularity-high {
  background-image: url('../images/high.png');
  color: $red;
}

.place-popularity-text {
  font-size: 18px;
  flex-wrap: wrap;
  line-height: 18px;
  font-weight: normal;
  padding-top: 55px;
}

.place-bottom {
  padding-top: 10px;
}


.stats-container {
  overflow-x: hidden;
  background: rgb(240, 240, 240);
  position: relative;
  border: 0px;
}

.stats-placeholder {
  content: " ";
  display: block;
  height: 62px;
  width: 100%;
}

.stats-graph {
  margin-left: -20px;
}

.stats-overlay {
  position: absolute;
  width: 100%;
  height: 92px;
  background: rgb(240, 240, 240);
  h2 {
    padding: 0px;
    margin: 0px;
  }
  &-top {
    font-size: 16px;
    text-align: center;
    color: rgb(72, 72, 72);
    font-weight: bold;
    padding-top: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 8%);
  }
  &-navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px 56px 0px 56px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(72, 72, 72);
    &-left {
      flex: 1;
      text-align: left;
      content: " ";
      background-image: url("../svg/left-arrow.svg");
      background-position: center left;
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      font-weight: normal;
    }
    &-center {
      text-align: center;
    }
    &-right {
      flex: 1;
      text-align: right;
      content: " ";
      background-image: url("../svg/right-arrow.svg");
      background-position: center right;
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      font-weight: normal;
    }
  }
}

.stats-top {
  background: rgb(240, 240, 240);
}

.place-timeline {
  border: 1px solid #ddd;
  border-top: none;
}

.place-details {
  border: 1px solid #ffffff;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  text-align: center;
  height: 26px;
  padding: 4px;
}

#loading {
  width: 95%;
  margin-top: 30px;
  text-align: center;
}

.rotate{
  animation: loading 1s linear infinite;
  @keyframes loading {
   0% { 
     transform: rotate(0); 
   }
   100% { 
     transform: rotate(360deg);
   }
  }
 }